@{
    ViewData["Title"] = "Calender View";
}
<div data-ng-controller="accommodationBookCalenderViewController">
    <div class="topbar">
        <div class="md-toolbar-tools" layout="row">
            <div class="topbar-title" flex>
                <h2>Calender View</h2>
                <i class="vertical-seperator" hide-sm hide-xs>&nbsp;</i>
                <span hide-sm hide-xs><a href="/home">Home</a> / <a href="/nav/@ViewBag.Group">@ViewBag.Group</a> / <a href="/accomodation-booking">Accommodation Bookings</a> / Calender View</span>
            </div>
            <div flex="none">
                <md-button class="add-btn" aria-label="Back to List" data-ng-click="backToList()"> <md-tooltip>Back to List</md-tooltip> <i class="ti-angle-double-left"></i> </md-button>
            </div>
        </div>
    </div>
    <div id="scheduler_here" class="dhx_cal_container" style="width: 100%; height: 100%;">
        <div class="dhx_cal_navline">
            <div class="dhx_cal_prev_button">&nbsp;</div>
            <div class="dhx_cal_next_button">&nbsp;</div>
            <div class="dhx_cal_today_button"></div>
            <div class="dhx_cal_date"></div>
            <div class="dhx_cal_tab" name="day_tab" style="right: 204px;"></div>
            <div class="dhx_cal_tab" name="week_tab" style="right: 140px;"></div>
            <div class="dhx_cal_tab" name="month_tab" style="right: 76px;"></div>
        </div>
        <div class="dhx_cal_header"></div>
        <div class="dhx_cal_data"></div>
    </div>
</div>
@section Scripts{
    <script src="~/scripts/services/accomodationBookService.js" asp-append-version="true"></script>
    <script src="~/scripts/controllers/accommodationBookCalenderViewController.js" asp-append-version="true"></script>
}
