@{
    ViewData["Title"] = "View Accommodation Booking";
}
<div data-ng-controller="accommodationBookViewController">
    <form name="form">
    <div class="topbar">
        <div class="md-toolbar-tools" layout="row">
            <div class="topbar-title" flex>
                <h2>Details</h2>
                <i class="vertical-seperator" hide-sm hide-xs>&nbsp;</i>
                <span hide-sm hide-xs><a href="/home">Home</a> / <a href="/nav/@ViewBag.Group">@ViewBag.Group</a> / <a href="/accomodation-booking">Accommodation Bookings</a> / Details</span>
            </div>
            <div flex="none">
                <md-button class="add-btn" aria-label="Back to List" data-ng-click="backToList()"> <md-tooltip>Back to List</md-tooltip> <i class="ti-angle-double-left"></i> </md-button>
            </div>
        </div>
    </div>
 <div class="container">
        <div layout="row" layout-sm="column" layout-xs="column">
            <md-autocomplete
                flex
                class="padding-wrap"
                md-no-cache="true"
                md-selected-item="accommodationBook.district"
                md-selected-item-change="selectedDistrictName(district)"
                md-search-text="districtSearch"
                md-items="district in searchDistrict(districtSearch)"
                md-item-text="district.name"
                md-min-length="0"
                md-floating-label="District Name"
                readonly
            >
                <md-item-template> <span md-highlight-text="districtSearch" md-highlight-flags="gi">{{district.name}}</span> </md-item-template> <md-not-found> No Data Found . </md-not-found>
            </md-autocomplete>
            <md-autocomplete
                flex
                class="padding-wrap"
                md-no-cache="true"
                md-selected-item="accommodationBook.church"
                md-selected-item-change="selectedChurchName(church)"
                md-search-text="churchSearch"
                md-items="church in searchChurch(churchSearch)"
                md-item-text="church.churchName"
                md-min-length="0"
                md-floating-label="Church Name"
                readonly
            >
                <md-item-template> <span md-highlight-text="ChurchSearch" md-highlight-flags="gi">{{church.churchName}}</span> </md-item-template> <md-not-found> No Data Found . </md-not-found>
            </md-autocomplete>
            <md-input-container class="md-block" flex>
                <input type="hidden" value="@ViewBag.Id" ng-model="id" /> <label>Accommodation Type</label>
                <md-select name="type" ng-model="accommodationBook.accomodationId" disabled> <md-option ng-repeat="accommodation in accommodations" ng-value="accommodation.id">{{accommodation.accomType}}</md-option> </md-select>
                <div ng-messages="form.type.$error" md-auto-hide="false"><div ng-message="required">Accommodation Type is required</div></div>
            </md-input-container>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container class="md-block" flex> <label>Adult No</label> <input type="number" ng-model="accommodationBook.adultNo" readonly /> </md-input-container>
            <md-input-container class="md-block" flex> <label>Child No</label> <input type="number" ng-model="accommodationBook.childNo" readonly /> </md-input-container>
            <md-input-container class="md-block" flex>
                <label>CheckIn Date</label> <md-datepicker name="CheckinDate" ng-model="accommodationBook.checkinDate" md-placeholder="Date of ChechIn" disabled></md-datepicker>
                <div ng-messages="form.CheckinDate.$error" md-auto-hide="false"><div ng-message="required">CheckIn Date is required</div></div>
            </md-input-container>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container class="md-block" flex>
                <label>CheckOut Date</label> <md-datepicker name="checkoutDate" ng-model="accommodationBook.checkoutDate" md-placeholder="Date of CheckOut" md-min-date="accommodationBook.checkinDate" disabled></md-datepicker>
                <div ng-messages="form.checkoutDate.$error" md-auto-hide="false"><div ng-message="required">CheckOut Date is required</div></div>
            </md-input-container>
            <md-time-picker ng-model="accommodationBook.arrivalTime" no-meridiem message="message" required flex ng-disabled="accommodationBook.accessCode !== 'P'"></md-time-picker>
            <md-time-picker ng-model="accommodationBook.departureTime" no-meridiem message="message" required flex ng-disabled="accommodationBook.accessCode !== 'P'"></md-time-picker>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container class="md-block" flex> <label>Reason</label> <input ng-model="accommodationBook.reason" maxlength="100" readonly /> </md-input-container>
        </div>
        <div
            layout="row"
            layout-sm="column"
            layout-xs="c
			olumn"
            ng-if="(accommodationBook.accessCode !== 'P' && accommodationBook.isApproved) || accommodationBook.accessCode === 'P'">
            <md-input-container class="md-block" flex>
                <label>Remarks</label> <input ng-model="accommodationBook.remarks" maxlength="200" ng-readonly="(accommodationBook.accessCode === 'P' && accommodationBook.isApproved) || accommodationBook.accessCode !== 'P'" />
            </md-input-container>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column" ng-if="accommodationBook.isFeedBack">
            <md-input-container class="md-block" flex> <label>Feedback</label> <textarea ng-model="accommodationBook.feedBack" maxlength="200" readonly></textarea></md-input-container>
        </div>
        <div layout="row" layout-align="center center">
            <md-button
                class="add-btn"
                aria-label="Submit"
                data-ng-click="approved()"
                data-ng-disabled="form.$invalid || isDisabled"
                ng-if="accommodationBook.isSubmit && !accommodationBook.isApproved && accommodationBook.accessCode == 'P'">
                <md-tooltip>Approved</md-tooltip> <i class="far fa-save"></i> Approved
            </md-button>
            <md-button class="cancel-btn" aria-label="Cancel" data-ng-click="backToList()"> <md-tooltip>Back</md-tooltip> <i class="fas fa-reply"></i> Back </md-button>
        </div>
    </div>
    </form>
</div>
@section Scripts{
    <script src="~/scripts/services/districtService.js" asp-append-version="true"></script>
    <script src="~/scripts/services/churchService.js" asp-append-version="true"></script>
    <script src="~/scripts/services/accommodationService.js" asp-append-version="true"></script>
    <script src="~/scripts/services/accomodationBookService.js" asp-append-version="true"></script>
    <script src="~/scripts/services/appointmentService.js" asp-append-version="true"></script>
    <script src="~/scripts/controllers/accommodationBookViewController.js" asp-append-version="true"></script>
}
