################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/src/.vs/SFA/FileContentIndex/489357b3-2de5-429a-95fe-5d53c017d906.vsidx
/src/.vs/SFA/FileContentIndex/7e597118-6c5b-4fd3-8e48-1778e10a8111.vsidx
/src/.vs/SFA/FileContentIndex/8cb72003-56cb-4347-896a-0d964b7c9fd2.vsidx
/src/.vs/SFA/FileContentIndex/ce6741d0-94a6-424a-b85f-55a96d135a26.vsidx
/src/.vs/SFA/FileContentIndex/93af43e5-14b6-4996-9bf6-15db678936f0.vsidx
/src/.vs/SFA/FileContentIndex/ce6741d0-94a6-424a-b85f-55a96d135a26.vsidx
/src/.vs/SFA/FileContentIndex/93af43e5-14b6-4996-9bf6-15db678936f0.vsidx
/src/.vs/SFA/FileContentIndex/8cb72003-56cb-4347-896a-0d964b7c9fd2.vsidx
/src/.vs/SFA/FileContentIndex/7e597118-6c5b-4fd3-8e48-1778e10a8111.vsidx
/src/.vs/SFA/FileContentIndex/489357b3-2de5-429a-95fe-5d53c017d906.vsidx
/src/.vs/SFA/FileContentIndex/ce6741d0-94a6-424a-b85f-55a96d135a26.vsidx
/src/.vs/SFA/FileContentIndex/93af43e5-14b6-4996-9bf6-15db678936f0.vsidx
/src/.vs/SFA/FileContentIndex/8cb72003-56cb-4347-896a-0d964b7c9fd2.vsidx
/src/.vs/SFA/FileContentIndex/7e597118-6c5b-4fd3-8e48-1778e10a8111.vsidx
/src/.vs/SFA/FileContentIndex/489357b3-2de5-429a-95fe-5d53c017d906.vsidx
/src/.vs/SFA/FileContentIndex/489357b3-2de5-429a-95fe-5d53c017d906.vsidx
*.json
/src/SFA/obj/Debug/netcoreapp3.1/SFA.assets.cache
/src/SFA/obj/Debug/netcoreapp3.1/SFA.csproj.AssemblyReference.cache
/src/SFA/obj/Debug/netcoreapp3.1/SFA.GeneratedMSBuildEditorConfig.editorconfig
/src/SFA/obj/project.nuget.cache
/src/SFA/obj/SFA.csproj.nuget.g.props
/src/SFA/obj/project.assets.json
src/SFA/obj/SFA.csproj.nuget.g.props
src/SFA/obj/SFA.csproj.nuget.dgspec.json
src/SFA/obj/project.nuget.cache
src/SFA/obj/project.assets.json
src/SFA/obj/Debug/netcoreapp3.1/staticwebassets/SFA.StaticWebAssets.xml
/src/.vs/
src/SFA/obj/Debug
src/.vs/SFA/v17/.suo
src/SFA/bin/
