@{
    ViewData["Title"] = "Home";
}

<md-card>
    <div class="state-overview">
        <div class="row">

            <div class="col-xl-4 col-md-6 col-12">
                <div class="info-box bg-b-orange">
                    <span class="info-box-icon push-bottom"><i class="material-icons">shopping_cart</i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Unscheduled Services</span>
                        <span class="progress-description">
                            2: Sun
                        </span>
                                                <span class="progress-description">
                            1: Weekday
                        </span>
                                                <span class="progress-description">
                            2: Offering Only
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-xl-4 col-md-6 col-12">
                <div class="info-box bg-b-purple">
                    <span class="info-box-icon push-bottom"><i class="material-icons">redeem</i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Upcoming (1 Mo.) Missionaries – Qty</span>
                        <span class="info-box-number">155</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 40%"></div>
                        </div>
                        <span class="progress-description">
                            40% Increase in 28 Days
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-xl-4 col-md-6 col-12">
                <div class="info-box bg-b-cyan">
                    <span class="info-box-icon push-bottom"><i class="material-icons">group</i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Churches with Accommodations</span>
                        <span class="info-box-number">52</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 85%"></div>
                        </div>
                        <span class="progress-description">
                            85% Increase in 28 Days
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
    </div>

    <div class="state-overview">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-12">
                <div class="info-box bg-b-orange">
                    <span class="info-box-icon push-bottom"><i class="material-icons">shopping_cart</i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Services</span>
                        <span class="info-box-number">450</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 45%"></div>
                        </div>
                        <span class="progress-description">
                            45% Increase in 28 Days
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-xl-4 col-md-6 col-12">
                <div class="info-box bg-b-purple">
                    <span class="info-box-icon push-bottom"><i class="material-icons">redeem</i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Pastors with no Missionary Services </span>
                        <span class="info-box-number">10</span>                        
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-xl-4 col-md-6 col-12">
                <div class="info-box bg-b-cyan">
                    <span class="info-box-icon push-bottom"><i class="material-icons">group</i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">I AM Global (DistrictName)</span>
                        <span class="progress-description">52% Churches Participating</span>
                         <span class="progress-description">$1,000 Amount</span>
                         <span class="progress-description">98% of last year</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="card card-box">
                <div class="card-head">
                    <header>Chart Survey</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body no-padding height-9">
                    <div class="row">
                        <canvas id="canvas1"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card card-box">
                <div class="card-head">
                    <header>Chart Survey</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body no-padding height-9">
                    <div class="row">
                        <canvas id="chartjs_pie"></canvas>
                    </div>
                </div>
            </div>
                        <div class="card card-box">
                <div class="card-head">
                    <header>Chart Survey</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body no-padding height-9">
                    <div class="row">
                        <canvas id="chartjs_pie"></canvas>
                    </div>
                </div>
            </div>

        </div>

    </div>
</md-card>

@section Styles{
    <link rel="stylesheet" href="~/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="~/styles/material-icon.css" />
    <link rel="stylesheet" href="~/styles/Dashboard/style.css" />
}

@section Scripts{
    <script src="~/lib/jquery.min.js"></script>
    <script src="~/lib/bootstrap.min.js"></script>
    <script src="~/lib/Chart.bundle.js"></script>
    <script src="~/lib/utils.js"></script>
    <script src="~/lib/home-data.js"></script>


    <script src="~/libs/Chart.min.js"></script>
    <script src="~/libs/angular-chart.min.js"></script>
    <script src="~/libs/angularResource.js"></script>
}
<script>
    let myChart = document.getElementById('chartjs_pie')
</script>