@{
    ViewData["Title"] = "Home";
}

<div data-ng-controller="DashBoardController">
    <div class="page-header-title">
        <div class="page-breadcrumb">
            <span>Home</span> \ <span>Dashboard</span>
        </div>
        <h2>Dashboard</h2>
    </div>
    <div class="state-overview">
        <div class="row">
            <div class="col-xl-3 col-md-6 col-12">
                <a href="/reports/macroscheduleWithApoinmentReport" style="color:#FFF !important;" title="Appointment by Macro Report">
                    <div class="info-box">
                        <span class="info-box-icon push-bottom">
                            <i class="ng-binding" style="font-weight:bold;font-size: 44px;font-style: normal;">
                                {{macros[0].macro_lt5_services}}
                            </i>
                        </span>
                        <div class="info-box-content">
                            <h4 class="info-box-text" style="font-weight:600;margin: 5px 0;border-bottom: 2px solid #CCC;letter-spacing: -1px;">
                                Unscheduled Services
                            </h4>
                            <span class="info-box-number">
                                <span style="font-weight:500; display:block;">
                                    Unscheduled services within 30 days
                                </span>
                            </span>
                            <span class="progress-description">
                                <span style="font-weight:500; display:block;">
                                    Total with <= 5 Services: {{macros[0].macro_lt5_services}}
                                </span>
                            </span>
                        </div>

                        <!-- /.info-box-content -->
                    </div>
                <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->
            <div class="col-xl-3 col-md-6 col-12">
                <a href="/reports/missionaryMacroScheduleReport" style="color:#FFF !important;" title="Macro Report">
                    <div class="info-box">
                        <span class="info-box-icon push-bottom">
                            <i class="ng-binding" style="font-weight:bold;font-size: 44px;font-style: normal;">
                                {{upcoming[0].upcoming_mac_sched}}
                            </i>
                        </span>
                        <div class="info-box-content">
                            <h4 class="info-box-text" style="font-weight:600;margin: 5px 0;border-bottom: 2px solid #CCC;letter-spacing: -1px;">
                                Upcoming Missionaries
                            </h4>
                            <span class="info-box-number">
                                <span style="font-weight:500; display:block;">
                                    Upcoming within 30-days
                                </span>
                            </span>
                            <span class="progress-description">
                                <span style="font-weight:500; display:block;">
                                    Associated Appointments: {{upcoming[0].upcoming_services}}
                                </span>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-xl-3 col-md-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon push-bottom">
                        <i class="ng-binding" style="font-weight:bold;font-size: 44px;font-style: normal;">
                            {{churcheq[0].tot_church_eq}}
                        </i>
                    </span>
                    <div class="info-box-content">
                        <h4 class="info-box-text" style="font-weight:600;margin: 5px 0;border-bottom: 2px solid #CCC;letter-spacing: -1px;">
                            Churches with EQs
                        </h4>
                        <span class="info-box-number">
                            <span style="font-weight:500; display:block;">
                                Number of Churches with an EQ count greater than 0
                            </span>
                        </span>
                        <span class="progress-description">
                            <span style="font-weight:500; display:block;">
                                &nbsp;
                            </span>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
    </div>

    <div class="state-overview">
        <div class="row">
            <div class="col-xl-3 col-md-6 col-12">
                <a href="/reports/pastorAppoinmentReport" style="color:#FFF !important;" title="Pastor Appointment Report">
                    <div class="info-box">
                        <span class="info-box-icon push-bottom">
                            <i class="ng-binding" style="font-weight:bold;font-size: 44px;font-style: normal;">
                                {{services[0].cy_tot_services}}
                            </i>
                        </span>
                        <div class="info-box-content">
                            <h4 class="info-box-text" style="font-weight:600;margin: 5px 0;border-bottom: 2px solid #CCC;letter-spacing: -1px;">
                                Total Services (90 Days)
                            </h4>
                            <span class="info-box-number">
                                <span style="font-weight:500; display:block;">
                                    This Year: {{services[0].cy_tot_services}} ({{services[0].pct_yoy}})
                                </span>
                            </span>
                            <span class="info-box-number">
                                <span style="font-weight:500; display:block;">
                                    Last Year: {{services[0].py_tot_services}}
                                </span>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->
            <div class="col-xl-3 col-md-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon push-bottom">
                        <i class="ng-binding" style="font-weight:bold;font-size: 44px;font-style: normal;">
                            {{churchsvc[0].church_no_svc_cy}}
                        </i>
                    </span>
                    <div class="info-box-content">
                        <h4 class="info-box-text" style="font-weight:600;margin: 5px 0;border-bottom: 2px solid #CCC;letter-spacing: -1px;">
                            Churches w/o Missionary Services
                        </h4>
                        <span class="info-box-number">
                            <span style="font-weight:500; display:block;">
                                Pastors w/o Appointments: {{churchsvc[0].church_no_svc_cy}}
                            </span>
                        </span>
                        <span class="info-box-number">
                            <span style="font-weight:500; display:block;">
                                vs Prior Year: {{churchsvc[0].church_no_svc_py}}
                            </span>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-xl-3 col-md-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon push-bottom">
                        <i class="ng-binding" style="font-weight:bold;font-size: 44px;font-style: normal;">
                            --
                        </i>
                    </span>
                    <div class="info-box-content">
                        <h4 class="info-box-text" style="font-weight:600;margin: 5px 0;border-bottom: 2px solid #CCC;letter-spacing: -1px;">
                            I AM Global
                        </h4>
                        <span class="info-box-number">
                            <span style="font-weight:500; display:block;">

                            </span>
                        </span>
                        <br />
                        <span class="info-box-number">
                            <span style="font-weight:500; display:block;">

                            </span>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <div class="card card-box">
                <div class="card-head">
                    <header style="height: unset !important;">Missionaries by Month</header>
                </div>
                <div class="card-body no-padding height-9">
                    <div class="row">
                        <canvas id="canvas1"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="max-width:unset;">
            <div class="card card-box" style="visibility:hidden;">
                <div class="card-head">
                    <header style="height: unset !important;text-align:center;display:block;">Missionary Dataset</header>
                </div>
                <div class="card-body no-padding height-9">
                    <div class="row">
                        <md-table-container style="width:100%;margin: 0 auto;">
                            <table md-table id="tbl_missionary">
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column style="font-size:13px;text-align:center;line-height:1;padding:0;">Year</th>
                                        <th md-column style="font-size:13px;text-align:center;line-height:1;">Month</th>
                                        <th md-column style="font-size:13px;text-align:center;line-height:1;">Missionaries<span style="display:block;font-size:11px;">Current</span></th>
                                        <th md-column style="font-size:13px;text-align:center;line-height:1;">Schedules<span style="display:block;font-size:11px;">Current</span></th>
                                        <th md-column style="font-size:13px;text-align:center;line-height:1;">Missionaries<span style="display:block;font-size:11px;">Previous</span></th>
                                        <th md-column style="font-size:13px;text-align:center;line-height:1;">Schedules<span style="display:block;font-size:11px;">Previous</span></th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row data-ng-repeat="data in summary track by $index">
                                        <td md-cell style="font-size:12px;text-align:center;" class="">{{data.rpt_year}}</td>
                                        <td md-cell style="font-size:12px;text-align:center;" class="">{{data.rpt_month_name}}</td>
                                        <td md-cell style="font-size:12px;text-align:center;" class="">{{data.missionary_cy}}</td>
                                        <td md-cell style="font-size:12px;text-align:center;" class="">{{data.schedule_cy}}</td>
                                        <td md-cell style="font-size:12px;text-align:center;" class="">{{data.missionary_py}}</td>
                                        <td md-cell style="font-size:12px;text-align:center;" class="">{{data.schedule_py}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </div>
                </div>
            </div>

            <!--
            <div class="card card-box">
                <div class="card-head">
                    <header>Chart Survey</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body no-padding height-9">
                    <div class="row">
                        <canvas id="chartjs_pie"></canvas>
                    </div>
                </div>
            </div>
            -->

        </div>

    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="~/styles/material-icon.css" />
    <link rel="stylesheet" href="~/styles/Dashboard/style.css" />
}
@section Scripts{
    <script src="~/lib/jquery.min.js"></script>
    <script src="~/lib/bootstrap.min.js"></script>
    <script src="~/lib/Chart.bundle.js"></script>
    <script src="~/lib/utils.js"></script>
    
    <script src="~/libs/Chart.min.js"></script>
    <script src="~/libs/angular-chart.min.js"></script>
    <script src="~/libs/angularResource.js"></script>

    <script src="~/scripts/services/dashboardService.js" asp-append-version="true"></script>
    <script src="~/scripts/controllers/dashboardController.js" asp-append-version="true"></script>

    <script src="~/lib/home-data.js" asp-append-version="true"></script>
}