@{
    ViewData["Title"] = "Home";
}

<div data-ng-controller="DashBoardController">
    <div class="state-overview">
        <div class="row">

            <div class="col-xl-4 col-md-6 col-12">
                <div class="info-box bg-b-blue">
                    <span class="info-box-icon push-bottom"><i class="material-icons">shopping_cart</i></span>
                    <div class="info-box-content">
                        <span class="info-box-text" style="font-weight:600;font-size: 18px !important;margin: 5px 0;border-bottom: 2px solid #CCC;">
                            Unscheduled Services
                        </span>
                        <span class="progress-description">
                            <span style="font-weight:500;font-size: 14px;display:block;" class="ng-binding">
                                Total without Services: {{macros[0].macro_lt5_services}}
                            </span>
                        </span>
                        <span class="progress-description">
                            <span style="font-weight:500; font-size:14px;display:block;">
                                Total with <= 5 Services: {{macros[0].macro_lt5_services}}
                            </span>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-xl-4 col-md-6 col-12">
                <div class="info-box bg-b-black">
                    <span class="info-box-icon push-bottom"><i class="material-icons">redeem</i></span>
                    <div class="info-box-content">
                        <span class="info-box-text" style="font-weight:600;font-size: 18px !important;margin: 5px 0;border-bottom: 2px solid #CCC;">
                            Upcoming Missionaries
                        </span>
                        <span class="info-box-number">
                            <span style="font-weight:500; font-size:14px;display:block;">
                                Upcoming within 30-days: {{upcoming[0].upcoming_mac_sched}}
                            </span>
                        </span>
                        <span class="progress-description">
                            <span style="font-weight:500; font-size:14px;display:block;">
                                Associated Appointments: {{upcoming[0].upcoming_services}}
                            </span>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-xl-4 col-md-6 col-12">
                <div class="info-box bg-b-danger">
                    <span class="info-box-icon push-bottom"><i class="material-icons">group</i></span>
                    <div class="info-box-content">
                        <span class="info-box-text" style="font-weight:600;font-size: 18px !important;margin: 5px 0;border-bottom: 2px solid #CCC;">
                            Churches with EQs
                        </span>
                        <span class="info-box-number">
                            <span style="font-weight:500; font-size:14px;display:block;">
                                Upcoming within 30-days: {{upcoming[0].upcoming_mac_sched}}
                            </span>
                        </span>
                        <span class="progress-description">
                            <span style="font-weight:500; font-size:14px;display:block;">
                                Associated Appointments: {{upcoming[0].upcoming_services}}
                            </span>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
    </div>

    <div class="state-overview">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-12">
                <div class="info-box bg-b-blue">
                    <span class="info-box-icon push-bottom"><i class="material-icons">shopping_cart</i></span>
                    <div class="info-box-content">
                        <span class="info-box-text" style="font-weight:600;font-size: 18px !important;margin: 5px 0;border-bottom: 2px solid #CCC;">
                            Total Services
                        </span>
                        <span class="info-box-number">
                            <span style="font-weight:500; font-size:14px;display:block;">
                                Last 365 Days: {{services[0].cy_tot_services}} ({{services[0].pct_yoy}})
                            </span>
                        </span>
                        <span class="info-box-number">
                            <span style="font-weight:500; font-size:14px;display:block;">
                                Previous 365 Days: {{services[0].py_tot_services}}
                            </span>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-xl-4 col-md-6 col-12">
                <div class="info-box bg-b-black">
                    <span class="info-box-icon push-bottom"><i class="material-icons">redeem</i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">
                            <span class="info-box-text" style="font-weight:600;font-size: 18px !important;margin: 5px 0;border-bottom: 2px solid #CCC;">
                                Pastors without Missionary Services
                            </span>
                        </span>
                        <span class="info-box-number">
                            <span style="font-weight:500; font-size:14px;display:block;">
                                Churches without Appointments: ---
                            </span>
                        </span>
                        <br />
                        <span class="info-box-number">
                            <span style="font-weight:500; font-size:14px;display:block;">

                            </span>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-xl-4 col-md-6 col-12">
                <div class="info-box bg-b-danger">
                    <span class="info-box-icon push-bottom"><i class="material-icons">group</i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">
                            <span class="info-box-text" style="font-weight:600;font-size: 18px !important;margin: 5px 0;border-bottom: 2px solid #CCC;">
                                I AM Global (DistrictName)
                            </span>
                        </span>
                        <span class="info-box-number">
                            <span style="font-weight:500; font-size:14px;display:block;">

                            </span>
                        </span>
                        <br />
                        <span class="info-box-number">
                            <span style="font-weight:500; font-size:14px;display:block;">

                            </span>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="card card-box">
                <div class="card-head">
                    <header>Chart Survey</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body no-padding height-9">
                    <div class="row">
                        <canvas id="canvas1"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card card-box">
                <div class="card-head">
                    <header>Chart Survey</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body no-padding height-9">
                    <div class="row">
                        <canvas id="chartjs_pie"></canvas>
                    </div>
                </div>
            </div>
            <div class="card card-box">
                <div class="card-head">
                    <header>Chart Survey</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body no-padding height-9">
                    <div class="row">
                        <canvas id="chartjs_pie"></canvas>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="~/styles/material-icon.css" />
    <link rel="stylesheet" href="~/styles/Dashboard/style.css" />

}
@section Scripts{
    <script src="~/lib/jquery.min.js"></script>
    <script src="~/lib/bootstrap.min.js"></script>
    <script src="~/lib/Chart.bundle.js"></script>
    <script src="~/lib/utils.js"></script>
    <script src="~/lib/home-data.js"></script>

    <script src="~/libs/Chart.min.js"></script>
    <script src="~/libs/angular-chart.min.js"></script>
    <script src="~/libs/angularResource.js"></script>

    <script src="~/scripts/services/dashboardService.js" asp-append-version="true"></script>
    <script src="~/scripts/controllers/dashboardController.js" asp-append-version="true"></script>

}
<script>
    let myChart = document.getElementById('chartjs_pie')
</script>