*, *::after, *::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #b400ff52, #007eff8f);
    background-image: -webkit-linear-gradient(left, #b400ff52, #007eff8f);
    background-image: -o-linear-gradient(left, #b400ff52, #007eff8f);
    background-image: -moz-linear-gradient(to bottom right, #b400ff52, #007eff8f);
}

.body-overlay-wraper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    background: url('https://cdn.ntacreative.com/client/gmdeputation/gmd-login-bg-edit.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.login-wraper {
    display: table;
    margin: 0 0 0 0;
    position: absolute;
    width: 30%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    padding: 15px;
    -webkit-animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    box-shadow: 0px 0px 10px #333;
}

    .login-wraper > * {
        display: table-cell;
        vertical-align: middle;
    }

.login-grid {
    position: relative;
    width: 100%;
}

    .login-grid .logo {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

@keyframes fadeInRight {
    0% {
        opacity: 0;
        right: -430px;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

.login-grid > * {
    text-align: center;
}

.login-grid h2 {
    font-family: 'Roboto' !important;
    color: #333 !important;
    letter-spacing: -1px !important;
    margin: 0;
}

.logo > img {
    width: 100%;
    margin: 15px 0px;
}

.logo > h3 {
    color: #888;
    font-size: .9em;
    font-weight: 500;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.form-grid {
    width: 85%;
    margin: 10px auto;
}

    .form-grid > h3 {
        font-weight: normal;
        font-size: .85em;
        font-family: sans-serif;
        color: #666;
        font-weight: 600;
    }

.login-btn {
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, rgb(0 117 178), rgb(16 78 110));
    font-weight: 600;
}

    .login-btn:hover {
        background: #14487d;
        border: 1px solid #1b83ef;
    }

    .login-btn:focus, .login-btn:active {
        border: none;
        box-shadow: none;
    }

@media (min-width: 991px) and (max-width: 1200px) {
    .login-wraper {
        width: 40%;
        height: 100%;
        right: 0;
        top: 0;
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    .login-wraper {
        width: 50%;
    }
}
