@{
    ViewData["Title"] = "Edit";
}
<div data-ng-controller="districtEditController">
    <form name="form">
        <div class="topbar">
            <div class="md-toolbar-tools" layout="row">
                <div class="topbar-title" flex>
                    <h2>Edit</h2>
                    <i class="vertical-seperator" hide-xs>&nbsp;</i>
                    <span hide-xs><a href="/home">Home</a> / <a href="/nav/@ViewBag.Group">@ViewBag.Group</a> / <a href="/districts">Districts</a> / Edit</span>
                </div>
                <div flex="none">
                    <md-button class="add-btn" aria-label="Back to List" data-ng-click="backToList()">
                        <md-tooltip>Back to List</md-tooltip>
                        <i class="ti-angle-double-left"></i> Back to List
                    </md-button>
                </div>
            </div>
        </div>
        <div class="container">
            @*<div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex>
                    <label>Country Name</label>
                    <md-select ng-model="district.countryId" required>
                        <md-option ng-repeat="country in countries" ng-value="country.id">{{country.name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>State Name</label>
                    <md-select ng-model="district.stateId" required>
                        <md-option ng-repeat="state in states" ng-value="state.id">{{state.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>*@
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex>
                    <label>District Name</label>
                    <input ng-model="district.name" required>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>District Alias</label>
                    <input ng-model="district.alias" required>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex>
                    <label>Website</label>
                    <input ng-model="district.website" placeholder="https://samplewebsite.com">
                </md-input-container>
                <md-input-container class="md-block" flex>

                </md-input-container>
            </div>
        </div>
        <md-table-container layout="column" layout-xs="column">
            <table md-table md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th md-column style="width:50%;"><span>State</span></th>
                        <th md-column class="" style=""><span></span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="detail in district.states track by $index">
                        <td md-cell class="">
                            <md-autocomplete flex class="padding-wrap"
                                             md-no-cache="true"
                                             md-selected-item="detail.state"
                                             md-selected-item-change="selectedStateName(state, $index)"
                                             md-search-text="stateSearch"
                                             md-items="state in searchState(stateSearch)"
                                             md-item-text="state.name"
                                             md-min-length="0"
                                             md-floating-label="State Name">
                                <md-item-template>
                                    <span md-highlight-text="stateSearch" md-highlight-flags="gi">{{state.name}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No Data Found .
                                </md-not-found>
                            </md-autocomplete>
                        </td>
                        <td md-cell class="center" style="">
                            @*<md-button class="md-icon-button md-primary" ng-click="deleteState($index)" ng-if=""><i class="fa fa-trash"></i></md-button>*@
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <div class="container">
            <div layout="row" layout-align="center center">
                <md-button class="save-btn" aria-label="Save" data-ng-click="save()" data-ng-disabled="form.$invalid">
                    <md-tooltip>Save</md-tooltip>
                    <i class="far fa-save"></i> Save
                </md-button>
                <md-button class="cancel-btn" aria-label="Cancel" data-ng-click="backToList()">
                    <md-tooltip>Cancel</md-tooltip>
                    <i class="fas fa-reply"></i> Cancel
                </md-button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/scripts/services/districtService.js" asp-append-version="true"></script>
    <script src="~/scripts/services/stateService.js" asp-append-version="true"></script>
    <script src="~/scripts/controllers/districtEditController.js" asp-append-version="true"></script>
}