@{
    ViewData["Title"] = "Add Appointment";
}
<div data-ng-controller="appointmentAddController">
    <form name="form">
        <div class="topbar">
    <div class="md-toolbar-tools" layout="row">
        <div class="topbar-title" flex>
            <h2>Details</h2>
            <i class="vertical-seperator" hide-xs>&nbsp;</i> <span hide-xs><a href="/home">Home</a> / <a href="/nav/@ViewBag.Group">@ViewBag.Group</a> / <a href="/appointments">Appointments</a> / Details</span>
        </div>
        <div flex="none">
            <md-button class="add-btn" aria-label="Back to List" data-ng-click="backToList()"> <md-tooltip>Back to List</md-tooltip> <i class="ti-angle-double-left"></i> Back to List </md-button>
        </div>
    </div>
</div>
<div class="container"><div id="dvMap1" style="width: 100%; height: 400px;"></div></div>
<div class="container">
    <md-table-container flex>
        <table md-table md-progress="promise" flex>
            <thead md-head>
                <tr md-row>
                    <!--<th md-column class="center"><span>Sl No.</span></th>-->
                    <th md-column class="center"><span>Pastor</span></th>
                    <th md-column class="center"><span>Church</span></th>
                    <th md-column class="center"><span>District</span></th>
                    <th md-column class="center"><span>Appointment Date</span></th>     
                    <th md-column class="center"><span>Appointment Time</span></th>
                    <th md-column class="center"><span>Description</span></th>
                    <th md-column class="center"><span class="pad-l-8">Actions</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="detail in appointments track by $index">
                    <td md-cell class="center">                 
                       <md-input-container class="md-block" flex>
                            <label>Pastor Name</label>
                            <md-select name="pastors" ng-model="pastors.id" required ng-change="pastorSelected(pastors.id, $index)">
                                <md-option ng-repeat="pastor in detail.pastors.data" ng-value="pastor.id" >{{pastor.name}} </md-option>
                            </md-select>
                         </md-input-container>
                    </td>

                     <td md-cell class="center">                 
                        <!-- This is the dropdown for all churches to appear via the district ID from the macro scheudle-->
                         <md-input-container class="md-block" flex>
                            <label>Church Name</label>
                            <md-select name="church" ng-model="detail.districtId" required ng-change="ChurchSelected(detail.districtId, $index)">
                                <md-option ng-repeat="churchvar in detail.church" ng-value="churchvar.districtId">{{churchvar.churchName}}</md-option>
                            </md-select>
                        </md-input-container>
                    </td>

                    <td md-cell class="center">                 
                        <md-input-container class="md-block" flex>
                            <label>District Name</label>
                            <input name="district" ng-model="detail.districtValues.name" required maxlength="25">
                        </md-input-container>
                    </td>



                    <td md-cell cla ss="center">
                        <md-input-container class="md-block" flex>
                            <label>Appointment Date</label>
                            <md-datepicker name="eventDate" ng-model="detail.eventDate" ng-change="dateChange($index)" md-placeholder="Date of Appointment" md-min-date="minDate" md-max-date="maxDate" required></md-datepicker>
                        </md-input-container>
                    </td>

                    <td md-cell>
                        <md-input-container class="md-block" flex>
                            <label>Appointment Time</label>
                            <md-select name="eventTime" ng-model="detail.eventTime" required> <md-option ng-repeat="time in detail.times" ng-value="time.serviceTime">{{time.timeString}}</md-option> </md-select>
                        </md-input-container>
                    </td>
                    <td md-cell class="center">
                        <md-input-container class="md-block" flex="none"> <label>Description</label> <input name="description" ng-model="detail.description" required maxlength="100" /> </md-input-container>
                    </td>
                    <td md-cell class="center">
                        <md-button class="md-icon-button delete-btn" ng-click="deleteRow($index)" ng-if="appointments.length>1"><i class="ti-trash"></i></md-button>
                    </td>
                </tr>
                <tr md-row>
                    <td md-cell class="center" colspan="7">
                        <md-button class="add-btn" aria-label="Add" data-ng-click="addNewRow()" style="text-align: right;"> <md-tooltip>Add New Row</md-tooltip> <i class="ti-plus"></i>Add New Row </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <div layout="row" layout-align="center center">
        <md-button class="save-btn" aria-label="Save" data-ng-click="save()" data-ng-disabled="form.$invalid"> <md-tooltip>Save</md-tooltip> <i class="far fa-save"></i> Save </md-button>
        <md-button class="cancel-btn" aria-label="Cancel" data-ng-click="backToList()"> <md-tooltip>Cancel</md-tooltip> <i class="fas fa-reply"></i> Cancel </md-button>
    </div>
</div>

    </form>
</div>

@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD7d5zEqURlPCFVM_NcsHLGSms_Pnu4-M4"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
    <script src="~/scripts/services/macroScheduleService.js" asp-append-version="true"></script>
    <script src="~/scripts/services/churchServiceTimeService.js" asp-append-version="true"></script>
    <script src="~/scripts/services/churchService.js" asp-append-version="true"></script>
    <script src="~/scripts/services/appointmentService.js" asp-append-version="true"></script>
    <script src="~/scripts/controllers/appointmentAddController.js" asp-append-version="true"></script>
    <script src="~/scripts/services/districtService.js" asp-append-version="true"></script>
    <script src="~/scripts/services/userService.js" asp-append-version="true"></script>
}